---
name: Release Charts

on:
  push:
    branches:
      - release-0.17

permissions:
  contents: write

jobs:
  release:
    name: Release
    if: github.repository_owner == 'submariner-io'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Update the charts
        run: |
          make release

      - name: Push the charts
        run: |
          git add charts/*
          git commit -m "Chart update"
          git push
