---
name: Release Charts

on:
  push:
    branches:
      - release-0.11

jobs:
  release:
    name: Release
    if: github.repository_owner == 'submariner-io'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Update the charts
        run: |
          make release

      - name: Push the charts
        run: |
          git add charts/*
          git commit -m "Chart update"
          git push
